<html>
    <head>
        <title>{{songDetails.title}} Lyrics</title>
        <link rel="icon" href="https://github.com/mufaddalnaya/SearchEngine/blob/master/logo.png?raw=true" type="image/icon type">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Music Parser</a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="jumbotron">
                <center>
                    <h1>{{ songDetails.title }}</h1>
                    <h3>By {{songDetails.artist}}</h3>
                </center>
                <pre>{{songDetails.lyrics}}</pre>
                
                <ol>
                </ol>
            </div>
        </div>
    </body>
</html>
